*{
    
    text-align: center;
    border-radius: 25px;
    text-shadow: 1px 1px rgb(23, 158, 199);
    margin: 0;
    display: flexbox;

}

#h1{
    border: solid;
    background-color: chartreuse;
    padding: 10%;
    margin: 10%;
    box-shadow: 4px 4px ;
    
    
}
#button{
    background-color: chartreuse;
    border-radius: 100px;
     width: 100px;
    height: 100px;
    font-size: x-large;
    box-shadow: 3px 3px ;
    
}
.form{
    align-content: center;
    border: solid;
    margin: 20px;
    background-color: chartreuse;
    padding: 20px;
    font-size: x-large;
    box-shadow: 4px 4px ;
}
